[submodule "src/network"]
	path = src/network
	url = https://github.com/BinghamtonRover/Transport-Protocols
[submodule "src/ext/nanogui"]
	path = src/ext/nanogui
	url = git@github.com:mitsuba-renderer/nanogui.git
